
*{ margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;

}



body{
    font-size: 100%;
    background: linear-gradient(to right, #358faa 0%, #161c57 100%);
    margin-block-end: auto;
    gap: 32px;
  
}
.escola{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    font-family: "Noto Sans script=latin rev=3";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: initial;
    font-size: 50px;
    color: rgb(237, 236, 243); 
    gap: 80px;  

   
    }

    
.ani{font-family: "Noto Sans script=latin rev=3";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: initial;
    font-size: 25px;
    color: rgb(219, 219, 231);
    display: flex;
    flex-direction: column;
   
}
.cabecalho {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right; 
    font-stretch: normal;
    line-height: initial;
    gap: 50px;
    font-size: 20px;
    border-top: 0.8px solid rgb(235, 227, 240);
    border-bottom: 0.8px solid rgb(226, 222, 228);
    color: aliceblue
            
}
.imagem{
    display: block;
    margin: 0 auto;
}
.para{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rodape{
    display: block;
    margin: 0 auto;
    color: rgb(172, 171, 169);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    
    }

.item-botao:hover{ 
    background-color: rgb(201, 168, 79); 
    border-radius: 20px;
    margin: 30px;  
    color: antiquewhite;
    margin: 0 auto;
    
}
.botao{
    margin: 10px;
    justify-content: space-around;
    color: rgb(14, 14, 12);
    margin-left: 10px;
    margin-right: 10px;
}