*{ margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;

}

body {font-size: 100%;
    background: url(fundo1.png);
}

.conosco{
    color: rgb(6, 7, 7);
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 480px;
}

.principal{
display: flex;
flex-direction: column;
padding: 10px;
    margin-bottom: 15px;
    border: 5px solid rgb(8, 7, 8);
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;   
    

}
.content{
    display: flex;
    justify-content: center;
font-size: 20px;

}

.contato{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 15px;
    border: 5px solid rgb(12, 12, 12);
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;   

}
.contato1{
    margin-left: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15px;
    border: 5px solid rgb(22, 7, 228);
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;   
    
}
.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 5px solid rgb(39, 7, 224);
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;   
    
}
.roda{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(213, 220, 236);
    font-size: 40px;
    justify-content: center;
}